@using Microsoft.AspNetCore.Identity
@using Sudoku.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="right">
            <li><input type="submit" name="submit" value="ВЫЙТИ" id="logoff"></li>
            <li><a asp-controller="Manage" asp-action="Index">@UserManager.GetUserName(User)</a></li>
        </ul>
    </form>
}
else
{
    <ul class="right">
        <li><a asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
    </ul>
}
