@{
    ViewData["Title"] = "Контакты";
}

<div class="news-view-block">
    <div class="news-text">

        <p>
            <a href="https://vk.com/id53925569" target="_blank">
                <img alt="Судоку" class="imr" src="~/images/I.jpg" title="(яп. 数独 су:доку)" />
            </a>
        </p>
        <p>&nbsp;</p>
        <p>
            <span style="font-size:26px">
                <span style="color:#A9A9A9">
                    <span style="font-family:verdana,geneva,sans-serif">ОБРАТНАЯ СВЯЗЬ</span>
                </span>
            </span>
        </p>
        <br />
        <p>
            <span style="font-size:14px">
                <span style="font-family:verdana,geneva,sans-serif">
                    <span style="color:#808080">
                        +375 (25) 732-88-82
                    </span>
                </span>
            </span>
        </p>
        <p>
            <span style="font-size:14px">
                <span style="font-family:verdana,geneva,sans-serif">
                    <span style="color:#808080">
                        SergeyMorozAlexandrovich@gmail.com
                    </span>
                </span>
            </span>
        </p>
        <p>
            
                <span style="font-size:14px">
                    <span style="font-family:verdana,geneva,sans-serif">
                        <span style="color:#808080">
                            Skype: moroz_sergey_1993
                        </span>
                    </span>
                </span>
        </p>
        <p>&nbsp;</p>
    </div>
</div>
