@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Восстановление пароля";
}


<div class="login-form">
    <input type="email" name="email" size="20" maxlength="50" placeholder="Введите Ваш e-mail" required="required">
    <p style="font-size: 13px;">Используйте адрес электронной почты, указанный при регистрации</p>
    <input type="submit" name="submit" value="ОК">
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
