@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Вход";
}

<div class="login-form">
    <input type="email" name="email" size="20" maxlength="50" placeholder="e-mail" required="required">
    <br />
    <input type="password" name="password" size="20" placeholder="Пароль">
    
    <div class="login-form-footer">
        <input type="checkbox" name="remember">Запомнить
        <a href="/lost">Забыли пароль?</a>
    </div>
    <br />
    <input type="submit" name="submit" value="ВОЙТИ">
</div>


@*@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}*@
