@model RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div class="login-form">
        <input type="text" name="Login" size="20" maxlength="12" placeholder="Логин" pattern="^[a-zA-Z0-9]+$" required="required" autofocus>

        <input type="email" name="Email" size="20" maxlength="50" placeholder="e-mail" required="required">

        <input type="password" name="Password" size="20" placeholder="Пароль" required>

        <input type="password" name="ConfirmPassword" size="20" placeholder="Повторить пароль" required onfocus="checkPassword(document.getElementById('p1'), this);" oninput="checkPassword(document.getElementById('p1'), this);">

        <div class="mod-form-capcha">
            <img src="~/images/bg.png" width="150" height="38" alt="Captcha" class="captcha">
            <input name="Captcha" type="text" placeholder="Капча" required>
        </div>


        <input type="submit" name="submit" value="ГОТОВО">

    </div>
</form>
    @*@section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }*@
